Temp/
Temp.meta
.vscode/
.claude/
Library/
Logs/
*.csproj
*.sln
*.unityproj
*.booproj
.vsconfig
.vs/
obj/
UserSettings/
Assets/Test/
Assets/Test.meta
Assets/MeshyImports/
Assets/MeshyImports.meta
.DS_Store
Assets/.DS_Store
Assets/_TerrainAutoUpgrade
Assets/_TerrainAutoUpgrade.meta
*.slnx